root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{ts,tsx,js,mjs,cjs,json,md,yml,yaml}]
indent_size = 2
max_line_length = 80

[*.{kt,kts}]
indent_size = 4
max_line_length = 100
ktlint_code_style = android_studio

[*.sh]
indent_size = 2
max_line_length = 80
